{% load static %}
<html>
    <head>
        <title>Pharmacy Database</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/trade_history.css' %}" />
    </head>
    <body>
        <section class="row">
            <h2 class='col-9'>Pharmacy Storage</h2>
            <div class='col-2 link-to'><a href="/">go to purchase history</a></div>
        </section>
        <form method='POST'>
            {% csrf_token %}
            <input name = 'medicine-name' placeholder="Medicine Name">
            <input name = 'pharmacy-name' placeholder="Pharmacy Name">
            <button class='btn btn-outline-primary' type=submit>submit</button>
        </form>
        
        <section id='table-section'>
            <table class = 'table trade-history-table'>
                <tr>
                    <th id='name'>Medicine Name</th>
                    <th>Pharmacy Name</th>
                    <th>Number Left</th>
                    <th>Min Price</th>
                </tr>
                {% for result in data %}
                <tr>
                    <td>{{result.0}}</td>
                    <td>{{result.1}}</td>
                    <td>{{result.2}}</td>
                    <td>{{result.3}}</td>
                
                {% endfor %}
                </tr>
            </table>
        </section>
    </body>
</html>