{% load static %}
<html>
    <head>
        <title>Pharmacy Database</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/test.css' %}" />
    </head>
    <body>
        <form method='POST'>
            {% csrf_token %}
            <input name = 'employee-name'>
            <input name = 'pharmacy-name'>
            <button class='btn btn-outline-primary' type=submit>submit</button>
        </form>
        <h2>Pharmacy</h2>
        <table class = 'trade-history-table'>
            <tr>
                <th id='name'>Name</th>
                <th>SSN</th>
                <th>Pharmacy</th>
                <th>Pharmacy ID</th>
                <th>Address</th>
            </tr>
            {% for result in data %}
            <tr>
                <td>{{result.4}}</td>
                <td>{{result.3}}</td>
                <td>{{result.1}}</td>
                <td>{{result.5}}</td>
                <td>{{result.2}}</td>
            
            {% endfor %}
            </tr>
        </table>
    </body>
</html>