{% load static %}
<html>
    <head>
        <title>Pharmacy Database</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/trade_history.css' %}" />
    </head>
    <body style="background-color: #bde7bd;">
        <section>
            <div class='card'>
                <div class='row'>
                    <h2 class='col-9'>Purchase History</h2>
                    <div class='col-2'><a href="/storage/">Go To Storage</a></div>
                </div>
                <form method='POST'>
                    {% csrf_token %}
                    <input name = 'customer-name' placeholder="Customer Name">
                    <input name = 'employee-name' placeholder="Employee Name">
                    <input name = 'medicine-name' placeholder="Medicine Name"></br>
                    <input name = 'pharmacy-name' placeholder="Pharmacy Name">
                    <input name = 'date-later-than' placeholder="Date Later Than">
                    <input name = 'date-before' placeholder="Date Before">
                    <button class='container' type=submit>Submit</button>
                </form>
            
        <section id='table-section'>
            <table class = 'trade-history-table'>
                <thead>
                    <tr>
                        <th id='name'>Purchase Time</th>
                        <th>Medicine Name</th>
                        <th>Customer Name</th>
                        <th>Employee Name</th>
                        <th>Pharmacy Name</th>
                        <th>Price</th>
                        <th>Doctor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in data %}
                    <tr>
                        <td>{{result.0}}</td>
                        <td>{{result.1}}</td>
                        <td>{{result.2}}</td>
                        <td>{{result.3}}</td>
                        <td>{{result.4}}</td>
                        <td>{{result.5}}</td>
                        <td>{{result.6}}</td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</section>

    </body>
</html>