form {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    width: 80%;
}
h2{
    padding: 30px;
    margin-left: 50px;
}
.link-to{
    padding-top: 30px;
    padding-bottom: 30px;
}
input{
    width: 30%;
    border:0px;
    border-bottom: 1px solid;
    padding: 5px;
    margin: 3px;
}
button{float:right}
#table-section{
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
}

th{
    border-color: #fff;
    background-color: rgb(212, 212, 212);
}
